.spinner {
  width: 350px;
  height: 350px;
  margin-top: 150px;
  margin-left: 250px;
  position: relative;
}

.bearing {
  left: 0;
  top: 0;
  background: #343335;
}

.blade {
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 50px;
}

.cross {
  /*background: #343335;*/
  background: #343335 url('../../../img/PS-cross.png') no-repeat;
  background-size: cover;
}

.circle {
  /*background: #343335;*/
  background: #343335 url('../../../img/PS-circle.png') no-repeat;
  background-size: cover;
}

.triangle {
  /*background: #343335;*/
  background: #343335 url('../../../img/PS-triangle.png') no-repeat;
  background-size: cover;
}

.square {
  /*background: #343335;*/
  background: #343335 url('../../../img/PS-square.png') no-repeat;
  background-size: cover;
}

.spin {
  position: absolute;
  left: 13px;
  top: 180px;
}
