header, footer {
  font-family: Hack-Regular;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(226,226,226,.5);
  font-size: 26px;
  text-transform: uppercase;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  padding: 0 25px;
  font-size: 16px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  margin: 5px 0;
}
